body {
  display: flex;
  height: auto;
  margin: 0px;
}
#secLeft {
  width: 45%;
  background-color: #ffeeba;
}
#img {
  text-align: center;
}
#imgMain {
  width: 70%;
  border-radius: 50%;
  border: 8px solid rgb(41, 41, 41);
  margin: 20px auto;
}
#secRight {
  width: 55%;
}
#headerInfo {
  width: 75%;
  margin-bottom: 10px;
}
#headerEdu {
  width: 75%;
  margin: 10px 0px;
}
.light {
  border-radius: 0px 30px 30px 0px;
  background-color: #c1b190;
}
.dark {
  border-radius: 0px 30px 30px 0px;
  background-color: #847567;
}
h2 {
  margin: 0px;
  margin-left: 120px;
  padding: 12px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.itemInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}
.icon {
  width: 20px;
  height: 20px;
}
h3 {
  margin: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: normal;
}
.circle {
  width: 10px;
  height: 10px;
  background-color: #3b3b3b;
  border-radius: 50%;
}
.itemEdu{
    display: grid;
    grid-template-columns: 5% 95%;
    padding-left: 20px;
    align-items: baseline;
}
h4 {
    margin: 5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: normal;
  }